

body {
    /*background-image: url('../images/2016-10-13 (2).png');*/
    /*background-color: #cccccc;*/
    background-color: #ffe;
}

table {
    background-image: url('../images/2016-10-13 (2).png');
}

.header {
  text-align: center;
  /*background: #f9b234;*/
  background: #222;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 2.5rem;
  padding-bottom: 4.9rem; }
  .header .headline {
    color: #ffe; }

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%; }
  .header-subnav li {
    float: none;
    display: inline-block; }
    .header-subnav li a {
      padding: 0.9rem 1rem;
      font-size: 1.3rem;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: all 0.35s ease-in-out; }
      .header-subnav li a.is-active {
        background: rgba(250, 250, 250, 0.15); }
      .header-subnav li a:hover {
        background: rgba(250, 250, 250, 0.15);
        transition: all 0.35s ease-in-out; }

img { width:100%; }
div { display:inline-block; width: 100%; }

.center {
  margin-left: auto ;
  margin-right: auto ;
  /*text-align:center;*/
}

.centerButton {
  margin-left: auto ;
  margin-right: auto ;
  text-align:center;
      padding: 200px;
}

.addButton {
  margin-left: auto ;
  margin-right: auto ;
  text-align:center;
      padding: 100px;
}
.body {
    padding: 80px 0px;
}
footer{
    height: 300px;
    background-color: #222
}

#containerHome {
  height: 400px;
  width: 400px;
  position: relative;
}
#imageHome {
  position: absolute;
  left: 0;
  top: 0;
}
#textHome {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}

.hidden { display: none; }

.imageFirst {
    height: 500px;
    width: 500px;
}


#MyModal {
      display: block;
    max-height: 5872px;
    top: 2873px;
}
#UpdateModal {
      display: block;
    max-height: 5872px;
    top: 2873px;
}

.tableStyle{
    background-image: url('../images/2016-10-13 (2).png');
    color: white; 
    font-size: 18px;
    font-weight:bold;
}

.redButton {
    color: white;
    background-image: url('../images/redimage.png');
    font-size: 18px;
    font-weight: bold;
}
.blueButton {
    color: white;
    background-image: url('../images/blueimage.png');
    font-size: 18px;
    font-weight: bold;
}

.textStyle {
    font-size:16px; 
    font-weight: bold;
    color:#2abb9b;
    text-align:left;
}

.indexButton {
   padding: 12em 12em;
      font-size:20px; 
}


