

@*<link href="~/CSS/app.css" rel="stylesheet" />
<div id="containerHome">
    <img id="imageHome" src="~/Images/2016-10-13 (2).png" />
    <p id="textHome">
        Hello World!
    </p>
</div>*@

@*<div>
    <div class="row">
        <div>
            <img src="~/Images/blueImage.png" />
        </div>
        <div class="row">
            <img src="~/Images/redImage.png" />
        </div>
    </div>

</div>*@

<div>
<a href="/Consultant/List">Consultants</a>
<a href="/Consultant/Calculate">Calculate</a>
</div>

