

    <link href="~/CSS/app.css" rel="stylesheet" />


    <div class="row">
        <div class="centerButton"><a href="/Consultant/List" class="button tableStyle indexButton">KONSULTER</a> &nbsp<a href="/Consultant/Calculate" class="button tableStyle indexButton">BERÄKNA BONUS</a></div>
    </div>
