

    <link href="~/CSS/app.css" rel="stylesheet" />
    @*<div id="containerHome">
            <img id="imageHome" src="~/Images/2016-10-13 (2).png" />
            <p id="textHome">
                Hello World!
            </p>
        </div>*@

    @*<div>
            <div class="row">
                <div class="imageFirst">
                    <img src="~/Images/blueImage.png" />s
                </div>
                <div class="row">
                    <img src="~/Images/redImage.png" />
                </div>
            </div>

        </div>*@

@*<input type="image" src="~/Images/blueImage.png" />alt="Submit" width="100">*@

    <div class="row">
        <div class="centerButton"><a href="/Consultant/List" style="background-color:black" class="button tableStyle indexButton" >Konsulter</a><a href="/Consultant/Calculate" class="button tableStyle indexButton">Beräkna bonus</a></div>
    </div>
