<p>Hello World</p>

<form>
    <label class="material-label" for="hours">E-mail</label>
    <input name="HoursDebiterade" class="material-field" id="hours" type="number">

    <div class="row">
        <div class="small-12 small-push-4 columns">
            <button>Calculate!</button>
        </div>
    </div></form>