@model ConsultantListVM[]

<script src="~/Scripts/jquery.mixitup.min.js"></script>
<link href="~/CSS/MixItUp.css" rel="stylesheet" />
<script src="~/Scripts/MixItUp.js"></script>

<div class="controls">
    <label>Filter:</label>

    <button class="filter" data-filter="all">All</button>
    <button class="filter" data-filter=".category-1">Employee Category 1</button>
    <button class="filter active" data-filter=".category-2">Employee Category 2</button>

    <label>Sort:</label>

    <button class="sort" data-sort="myorder:asc">Asc</button>
    <button class="sort" data-sort="myorder:desc">Desc</button>

    <label>Change Layout:</label>
    <button id="ChangeLayout">Grid</button>

    <label>Search:</label>
        <input type="text" placeholder="Search ..." />
</div>
<div id="Container" class="container">

    @foreach (var consultant in Model)
    {
        <div class="mix category-@consultant.EmployeeCategory" data-myorder="@consultant.EmployeeId">
            @*<p>@consultant</p>*@
            <ul>
            <li>
          
                </li>
                <li>
                    @consultant.DateOfEmployement
                </li>
                
                </ul>
        </div>
    }
   

    <div class="gap"></div>
    <div class="gap"></div>
</div>