
<form method="post" action="AddConsultant" enctype="multipart/form-data">
    <label>
        First Name
        <input type="text" name="FirstName" placeholder="firstName">
    </label>
    <label>
        Last Name
        <input type="text" name="LastName" placeholder="somebody@example.com">
    </label>
    <label>
        Date of Employment
        <input type="datetime" name="DateOfEmployment" placeholder="somebody@example.com">
    </label>
    <label>
        Password
        <input type="text" placeholder="Password">
    </label>
    <div class="small-12 small-push-4 columns">
        <button>Send it !</button>
    </div>
    
</form>
