@model UpdateConsultantVM

    @*@Html.Partial("_ConsultantCRUD")*@
    @if (ViewBag.Message != null)
    {
        <div class="small-12 columns">

            <div data-alert class="alert-box warning">
                <i class="fi-alert"></i> Please fill in all required fields. @ViewBag.Message
                <a href="#" class="close">&CircleTimes;</a>
            </div>
        </div>
    }
    <form data-abide method="post" action="AddConsultant">
        <div class="name-field">
            <label>
                Förnamn
                <input type="text" required pattern="[a-zA-Z]+" name="FirstName" value="@Model.FirstName">
            </label>
        </div>
        <div class="name-field">
            <label>
                Efternamn
                <input type="text" required pattern="[a-zA-Z]+" value="@Model.LastName">
            </label>
        </div>
        <div class="date-field">
            <label>
                Anställningsdatum
                <input type="date" required pattern="[YYYY-MM-DD]" name="DateOfEmployment">
            </label>
        </div>
        <button type="submit">Submit</button>
    </form>


    <button class="close-button small" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

